node_modules
dist
.DS_Store
.idea
.vscode
coverage
.svelte-kit
demo/server/public
.nitro
test/fixtures/basic/styles/*
!test/fixtures/basic/styles/.gitkeep
demo/_fixtures/scss/spritemap.scss
demo/_fixtures/scss/spritemap-flags.scss
docs/.vitepress/cache
.tsup
