sprite($name, $include-size = false, $type = 'uri', $mode = 'background', $route = '%route%')
	$sprite = $sprites[$name]
	$url = false

	if $type == 'fragment'
		$url = '/' + $route + '#' + $sprites-prefix + $name + '-view'
	else if $type == 'uri'
		$url = $sprite[uri]
	else
		error('sprite(): $type must be either "fragment" or "uri"')

	if $url
		{$mode}: url($url) center no-repeat

		if $include-size
			if $include-size == true
				{$mode}-size: $sprite[width] $sprite[height]
			else if $include-size == 'box'
				width: $sprite[width]
				height: $sprite[height]
