//

sprite($name, $include-size = false, $type = 'uri')
  $sprite = '';

  if type == 'fragment'
     $sprite = '/__spritemap#sprite-{name}-view'
  else if type == 'uri'
    $sprite = $sprites[$name]
  else
    error('sprite(): $type must be either "fragment" or "uri"')

   background: url({$sprite}) center no-repeat

  if include-size
    $size = $sizes[$name];
    if include-size == true
      background-size: $size[width] $size[height]
    else if $include-size == 'box'
      width: $size[width]
      height: $size[height]
