.__mixin__-escape(@value) {
  @spritemap-xml: replace(replace(replace(replace(~'@{value}', '&', '&amp;', 'g'), '<', '&lt;', 'g'), "'", '&apos;', 'g'), '"', '&quot;', 'g');
  @spritemap-escaped: replace(replace(replace(replace(replace(escape(@spritemap-xml), '&', '%26', 'g'), ',', '%2c', 'g'), '[+]', '%2b', 'g'), '[$]', '%24', 'g'), '[?]', '%3f', 'g');
}

.__mixin__-pair(@uri; @pair) {
  @spritemap-key: extract(@pair, 1);
  .__mixin__-escape(extract(@pair, 2));
  @spritemap-uri: replace(@uri, '___@{spritemap-key}___', @spritemap-escaped, 'g');
}

.__mixin__-emit(@mode; @uri) {
  @{mode}: url(@uri) center no-repeat;
}

.__mixin__-user(@mode; @uri; @pairs; @i; @to; @defaults) when (@i <= @to) {
  .__mixin__-pair(@uri; extract(@pairs, @i));
  .__mixin__-user(@mode; @spritemap-uri; @pairs; @i + 1; @to; @defaults);
}

.__mixin__-user(@mode; @uri; @pairs; @i; @to; @defaults) when (@i > @to) {
  .__mixin__-defaults(@mode; @uri; @defaults; 2; extract(@defaults, 1) + 1);
}

.__mixin__-defaults(@mode; @uri; @pairs; @i; @to) when (@i <= @to) {
  .__mixin__-pair(@uri; extract(@pairs, @i));
  .__mixin__-defaults(@mode; @spritemap-uri; @pairs; @i + 1; @to);
}

.__mixin__-defaults(@mode; @uri; @pairs; @i; @to) when (@i > @to) {
  .__mixin__-emit(@mode; @uri);
}

.__mixin__-apply(@mode; @uri; @sprite; @variables; @defaults) when (extract(@defaults, 1) = 0) {
  .__mixin__-emit(@mode; @uri);
}

.__mixin__-apply(@mode; @uri; @sprite; @variables; @defaults) when not (extract(@defaults, 1) = 0) and (length(extract(@variables, 1)) < 2) {
  .__mixin__-pair(@sprite[uri-template]; @variables);
  .__mixin__-defaults(@mode; @spritemap-uri; @defaults; 2; extract(@defaults, 1) + 1);
}

.__mixin__-apply(@mode; @uri; @sprite; @variables; @defaults) when not (extract(@defaults, 1) = 0) and (length(extract(@variables, 1)) >= 2) {
  .__mixin__-user(@mode; @sprite[uri-template]; @variables; 1; length(@variables); @defaults);
}

.__mixin__-vars(@mode; @uri; @sprite; @name; @variables) when (@variables = false) {
  .__mixin__-emit(@mode; @uri);
}

.__mixin__-vars(@mode; @uri; @sprite; @name; @variables) when not (@variables = false) {
  .__mixin__-apply(@mode; @uri; @sprite; @variables; @__variables__[ @@name]);
}

.__mixin__(@name, @include-size: false, @type: 'uri', @route: '__route__', @mode: background, @variables: false) {
  @sprite: @__sprites__[ @@name];

  @fragment: if(
    @type = 'fragment',
    '@{route}#@{__prefix__}@{name}-view',
    false
  );
  @uri: if(@type = 'uri', @sprite[uri], false);

  & when (isstring(@fragment)) {
    @{mode}: url(@fragment) center no-repeat;
  }
  & when (isstring(@uri)) {
    .__mixin__-vars(@mode; @uri; @sprite; @name; @variables);
  }

  & when (isstring(@fragment)), (isstring(@uri)) {
    & when (@include-size) {
      @{mode}-size: @sprite[width] @sprite[height];
    }
    & when (@include-size = 'box') {
      width: @sprite[width];
      height: @sprite[height];
    }
  }
}
