//

@mixin sprite($name, $include-size: false, $type: 'uri') {
  $sprite: '';

  @if $type == 'fragment' {
    $sprite: '/__spritemap#sprite-#{$name}-view';
  } @else if $type == 'uri' {
    $sprite: map-get($sprites, $name);
  } @else {
    @error 'sprite(): $type must be either "fragment" or "uri"';
  }

  background: url($sprite) center no-repeat;

  @if $include-size {
    $size: map-get($sizes, $name);
    @if $include-size == true {
      background-size: map-get($size, width) map-get($size, height);
    } @else if $include-size == 'box' {
      width: map-get($size, width);
      height: map-get($size, height);
    }
  }
}
