@import './spritemap.scss';

body {
  background-color: #ddd;
  margin: 10vw;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//color rainbow gradient animation keyframes
@keyframes rainbow {
  from {
    color: #ff0000;
  }
  to {
    color: #ff9500;
  }
}

.icon {
  margin: 0.5rem;

  @each $name, $size in $sizes {
    &-#{$name} {
      width: map-get($size, 'width');
      height: map-get($size, 'height');
    }
  }

  &-vite {
    animation: rainbow infinite 1s alternate;
  }
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  margin-top: 0;
}

.example {
  margin-top: 4rem;
  &__svgs {
    display: flex;
    align-items: center;
    margin: -0.5rem;
  }

  @each $name, $size in $sizes {
    &--bg-frags .icon-#{$name} {
      background: url('__spritemap#sprite-#{$name}-view') no-repeat;
    }

    &--bg-uri .icon-#{$name} {
      @include sprite($name);
    }
  }
}
